@import './fonts.css';

$page-back: #DBFEB8;
$note-back-default: #C5EDAC;
$border: #7A918D;
$text-dark: #6A7C79;
$control: #93B1A7;

//$page-back: #F0A202;
//$note-back-default: #F18805;
//$border: #D95D39;
//$text-dark: #0E1428;
//$control: #ffffff;

body {
  background-color: $page-back;
  font-family: 'Gotham Rounded SSm A','Gotham Rounded SSm B';
  font-weight: 500;
  color: $border;
}

.container-fluid {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

input {
  background-color: unset;
  border: none;
  user-select: none;
}

input:focus, p:focus {
  outline:0;
}

input.full-width {
  border: 3px solid;
  border-radius: 5px;
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 11px;
  padding-right: 11px;
}

.note p:not(.tag), .note input:not(.tag) {
  white-space: pre-wrap;
  width: 100%;
  background-color: $note-back-default;
  border-radius: 5px;
  color: $text-dark;
  border: none;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
}

.note p:not(.tag):focus, .note input:not(.tag):focus {
  color: $page-back;
  background-color: $control;
}

.note input.tag {
  display: inline;
}

.page-title {
  color: $text-dark;
}

.note-title {
  font-size: 21px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.grid {
  width: 100%;
  margin-top: 20px;
}

ul.tags {
  padding-left: 5px;
  min-height: 24px;
}

li.note {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 11px;
  padding-right: 11px;
  border-radius: 5px;
}

li.tag {
  display: inline-block;
  border: 1px solid $text-dark;
  border-radius: 3px;
  margin: 2px;
  background-color: $text-dark;
}

li.tag:hover {
  cursor: pointer;
}

li.tag a {
  color: $note-back-default;
  margin-right: 4px;
}

li.tag a:hover {
  color: $control;
  text-decoration: none;
}

li p.tag {
  display: inline;
  user-select: none;
  color: $note-back-default;
  margin-right: 3px;
  padding-left: 4px;
}

li.add-tag {
  display: inline;
}

li.filter {
  cursor: pointer;
  padding: 4px;
  display: inline;
  color: $note-back-default;
  border-radius: 3px;
  margin: 2px;
  background-color: $border;
}

.edit-controls {
  float: right;
  position: relative;
}

a {
  color: $control;
}

a:hover {
  color: $border;
}

.tag a, .filter a {
  color: $note-back-default;
}

.tag a:hover, .filter a:hover {
  color: $control;
}

.tags {
  width: 100%;
}

i.add-note {
  margin-top: 38px;
  font-size: 62px;
}

div.note-container {
  padding: 5px;
  border: 3px solid;
  border: 3px solid; 
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 11px;
  padding-right: 11px;
  border-radius: 5px;
  background-color: $note-back-default;
}

.delete-note {
  float:right;
}

.date {
  font-size: 11px;
}

.filters {
  margin-left: -2px;
  margin-top: 20px;
  min-height: 24px;
}

.grid-item { width: 400px; padding-bottom: 10px; }
.grid-item--width2 { width: 400px; }

.add-note {
  position: fixed;
  bottom: 20px;
  right: 35px;
}

@-ms-viewport{
  width: device-width;
}

p:empty:not(:focus)::before {
  content: attr(data-placeholder);
  color: $text-dark;
}

p:focus:empty::before {
  content: attr(data-placeholder);
  color: $page-back;
}

p.tag:empty:not(:focus)::before {
  color: $note-back-default;
}

.note-title::-webkit-input-placeholder {
  color: $text-dark;
}

.note-title:focus::-webkit-input-placeholder {
  color: $page-back;
}